{% extends "layouts/base.html" %}

{% block title %} Sign UP {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link rel="stylesheet" href="{{ config.ASSETS_ROOT }}/css/process.css">
{% endblock stylesheets %}

{% block body_class %} sign-up-illustration {% endblock %}

{% block content %}

  {% include 'includes/navigation.html' %}

  <section>
    <div class="page-header min-vh-100">
      <div class="container">
        <div class="row">
          <div class="col-6 d-lg-flex d-none h-100 my-auto pe-0 position-absolute top-0 start-0 text-center justify-content-center flex-column">
            <div class="position-relative bg-gradient-primary h-100 m-3 px-7 border-radius-lg d-flex flex-column justify-content-center" style="background-image: url('{{ config.ASSETS_ROOT }}/img/illustrations/illustration-signup.jpg'); background-size: cover;" loading="lazy">
            </div>
          </div>
          <div class="col-xl-4 col-lg-5 col-md-7 d-flex flex-column ms-auto me-auto ms-lg-auto me-lg-5">
            <div class="card card-plain">

              <div class="card-header text-center">
                <h4 class="font-weight-bolder">
                  Sign Up
                </h4>
               
              </div>

              {% if success %}
              
                <p class="mb-0 text-center text-success">
                  {{ msg | safe }}
                </p>

                <div class="card-body"> 
                    <div class="text-center">
                      <a href="{{ url_for('authentication_blueprint.login') }}" 
                        class="btn btn-lg bg-gradient-primary btn-lg w-100 mt-4 mb-0">Sign IN</a>
                    </div> 
                </div>

              {% else %}

                <div class="card-body">

                  <form role="form" method="post">

                    {{ form.hidden_tag() }}
                    <div class="input-group input-group-outline mb-3">
                      {{ form.username(placeholder="Username",class="form-control") }}
                    </div>
                    {% for error in form.username.errors %}
                      <span style="color: red;">{{ error }}</span>
                    {% endfor %}

                    <div class="input-group input-group-outline mb-3">
                      {{ form.email(placeholder="Email",class="form-control", type="email") }}
                    </div>
                    {% for error in form.email.errors %}
                      <span style="color: red;">{{ error }}</span>
                    {% endfor %}

                    <div class="input-group input-group-outline">
                          {{ form.password(placeholder="Password",class="form-control", type="password")}}
                          <button class="mb-0 btn btn-outline-primary show-pass-btn" type="button" >
                          <i id="show-pass-icon" class="m-0 fa fa-eye"></i></button>
                    </div>
                    {% for error in form.password.errors %}
                      <span style="color: red;">{{ error }}</span>
                    {% endfor %}

                    <div class="process d-none rounded-1">
                      <div class="process-val rounded-1"></div>
                    </div>
                    <div class="mb-3"></div>
                    <div class="input-group input-group-outline mb-3">
                          {{ form.password_check(placeholder="Password check",class="form-control", type="password") }}
                          <button class="mb-0 btn btn-outline-primary copy-pass-btn" type="button">
                          <i class="fa fa-copy m-0"></i></button>
                    </div>
                     
                    <div class="form-check form-check-info text-start ps-0">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked>
                      <label class="form-check-label" for="flexCheckDefault">
                        I agree the <a href="javascript:;" class="text-dark font-weight-bolder">Terms and Conditions</a>
                      </label>
                    </div>

                    <div class="text-center">
                      <button type="submit" name="register"  
                              class="btn btn-lg bg-gradient-primary btn-lg w-100 mt-4 mb-0">Sign UP</button>
                    </div>
                  </form>

                </div>
                <div class="card-footer text-center pt-0 px-lg-2 px-1">
                  <p class="mb-2 text-sm mx-auto">
                    Already have an account?
                    <a href="{{ url_for('authentication_blueprint.login') }}" class="text-primary text-gradient font-weight-bold">Sign IN</a>
                  </p>
                </div>

              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script src="{{ config.ASSETS_ROOT }}/js/process.js"></script>
{% endblock javascripts %}