<nav class="navbar navbar-expand-lg navbar-light bg-white py-3">
  <div class="container">
      <a class="navbar-brand font-weight-bold d-none d-md-block" href="/" rel="tooltip" title="Designed and Coded by Creative Tim" data-placement="bottom">
          Material Kit 2 PRO
      </a>
      <a class="navbar-brand font-weight-bold d-block d-md-none" href="/" rel="tooltip" title="Designed and Coded by Creative Tim" data-placement="bottom">
          Material Design
      </a>
      <a target="_blank" href="https://appseed.us/product/material-kit2-pro/django/" class="btn btn-sm bg-gradient-success mb-0 ms-auto d-lg-none d-block">Buy Now</a>
      <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon mt-2">
              <span class="navbar-toggler-bar bar1"></span>
              <span class="navbar-toggler-bar bar2"></span>
              <span class="navbar-toggler-bar bar3"></span>
          </span>
      </button>
      <div class="collapse navbar-collapse w-100 pt-3 pb-2 py-lg-0" id="navigation">
          <ul class="navbar-nav navbar-nav-hover ms-auto">
              <li class="nav-item dropdown dropdown-hover mx-2">
                  <a class="nav-link ps-2 d-flex cursor-pointer align-items-center" id="dropdownMenuPages6" data-bs-toggle="dropdown" aria-expanded="false" role="button">
                      <i class="material-icons opacity-6 me-2 text-md">dashboard</i>
                      Pages
                      <img src="{% static 'img/down-arrow-dark.svg' %}" alt="down-arrow" class="arrow ms-auto ms-lg-2">
                  </a>
                  <div class="dropdown-menu ms-n3 dropdown-menu-animation dropdown-xl p-3 border-radius-xl mt-0 mt-lg-3" aria-labelledby="dropdownMenuPages6">
                      <div class="row d-none d-lg-block">
                          <div class="col-12 px-4 py-2">
                              <div class="row">
                                  <div class="col-4 position-relative">
                                      <div class="dropdown-header text-dark font-weight-bolder d-flex justify-content-center align-items-center px-1">
                                          Landing Pages
                                      </div>
                                      <a href="{% url 'coworking' %}" class="dropdown-item border-radius-md">
                                          <span>Coworking</span>
                                      </a>
                                      <a href="{% url 'rental' %}" class="dropdown-item border-radius-md">
                                          <span>Rental</span>
                                      </a>
                                      <a href="{% url 'case_study' %}" class="dropdown-item border-radius-md">
                                          <span>Case Study</span>
                                      </a>
                                      <div class="dropdown-header text-dark font-weight-bolder d-flex align-items-center px-0 mt-3">
                                          Company
                                      </div>
                                      <a href="{% url 'about_us' %}" class="dropdown-item border-radius-md">
                                          <span>About Us</span>
                                      </a>
                                      <a href="{% url 'pricing' %}" class="dropdown-item border-radius-md">
                                          <span>Pricing</span>
                                      </a>
                                      <a href="{% url 'career' %}" class="dropdown-item border-radius-md">
                                          <span>Career</span>
                                      </a>
                                      <a href="{% url 'work_with_us' %}" class="dropdown-item border-radius-md">
                                          <span>Work with us</span>
                                      </a>
                                      <a href="{% url 'terms' %}" class="dropdown-item border-radius-md">
                                          <span>Terms & Conditions</span>
                                      </a>
                                      <hr class="vertical dark">
                                  </div>
                                  <div class="col-4 position-relative">
                                      <div class="dropdown-header text-dark font-weight-bolder d-flex justify-content-center align-items-center px-1">
                                          Support
                                      </div>
                                      <a href="{% url 'help_center' %}" class="dropdown-item border-radius-md">
                                          <span>Help Center</span>
                                      </a>
                                      <a href="{% url 'help_center_basic' %}" class="dropdown-item border-radius-md">
                                          <span>Help Center Basic</span>
                                      </a>
                                      <a href="{% url 'contact_us' %}" class="dropdown-item border-radius-md">
                                          <span>Contact Us</span>
                                      </a>
                                      <a href="{% url 'contact_us_simple' %}" class="dropdown-item border-radius-md">
                                          <span>Contact Us Basic</span>
                                      </a>
                                      <a href="{% url 'faq' %}" class="dropdown-item border-radius-md">
                                          <span>FAQ</span>
                                      </a>
                                      <a href="{% url 'privacy' %}" class="dropdown-item border-radius-md">
                                          <span>Privacy</span>
                                      </a>
                                      <div class="dropdown-header text-dark font-weight-bolder d-flex justify-content-center align-items-center mt-3 px-1">
                                          Apps
                                      </div>
                                      <a href="{% url 'mobile_app' %}" class="dropdown-item border-radius-md">
                                          <span>Mobile App</span>
                                      </a>
                                      <a href="{% url 'desktop_app' %}" class="dropdown-item border-radius-md">
                                          <span>Desktop App</span>
                                      </a>
                                      <hr class="vertical dark">
                                  </div>
                                  <div class="col-4">
                                      <div class="dropdown-header text-dark font-weight-bolder d-flex justify-content-center align-items-center px-1">
                                          Blogs
                                      </div>
                                      <a href="{% url 'single_article' %}" class="dropdown-item border-radius-md">
                                          <span>Single Article</span>
                                      </a>
                                      <a href="{% url 'blog_posts' %}" class="dropdown-item border-radius-md">
                                          <span>Blog Posts</span>
                                      </a>
                                      <a href="{% url 'blog_categories' %}" class="dropdown-item border-radius-md">
                                          <span>Categories</span>
                                      </a>
                                      <a href="{% url 'blog_author' %}" class="dropdown-item border-radius-md">
                                          <span>Author</span>
                                      </a>
                                      <div class="dropdown-header text-dark font-weight-bolder d-flex justify-content-center align-items-center mt-3 px-1">
                                          Extra
                                      </div>
                                      <a href="{% url 'automotive' %}" class="dropdown-item border-radius-md">
                                          <span>Automotive</span>
                                      </a>
                                      <a href="{% url 'virtual_reality' %}" class="dropdown-item border-radius-md">
                                          <span>Virtual Reality</span>
                                      </a>
                                      <a href="{% url 'smart_home' %}" class="dropdown-item border-radius-md">
                                          <span>Smart Home</span>
                                      </a>
                                      <a href="{% url 'chat' %}" class="dropdown-item border-radius-md">
                                          <span>Chat</span>
                                      </a>
                                      <a href="{% url 'product_page' %}" class="dropdown-item border-radius-md">
                                          <span>Product Page</span>
                                      </a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </li>

              <li class="nav-item dropdown dropdown-hover mx-2">
                  <a class="nav-link ps-2 d-flex cursor-pointer align-items-center" id="dropdownMenuAccount" data-bs-toggle="dropdown" aria-expanded="false" role="button">
                      <i class="material-icons opacity-6 me-2 text-md">contacts</i>
                      Account
                      <img src="{% static 'img/down-arrow-dark.svg' %}" alt="down-arrow" class="arrow ms-auto ms-lg-2">
                  </a>
                  <div class="dropdown-menu dropdown-menu-animation dropdown-md border-radius-xl p-3 mt-0 mt-lg-3" aria-labelledby="dropdownMenuAccount">
                      <div class="d-none d-lg-flex">
                          <ul class="list-group w-100">
                              <li class="nav-item dropdown dropdown-hover dropdown-subitem list-group-item border-0 p-0">
                                  <a class="dropdown-item border-radius-md text-dark ps-3 d-flex align-items-center mb-1" id="dropdownSignIn">
                                      <span>Sign In</span>
                                      <img src="{% static 'img/down-arrow.svg' %}" alt="down-arrow" class="arrow ms-auto">
                                  </a>
                                  <div class="dropdown-menu mt-0 py-3 px-2" aria-labelledby="dropdownSignIn">
                                      <a class="dropdown-item ps-3 border-radius-md mb-1" href="{% url 'page_sign_in_cover' %}">
                                          <span>Cover</span>
                                      </a>
                                      <a class="dropdown-item ps-3 border-radius-md mb-1" href="{% url 'page_sign_in_illustration' %}">
                                          <span>Illustration</span>
                                      </a>
                                      <a class="dropdown-item ps-3 border-radius-md mb-1" href="{% url 'page_sign_in_basic' %}">
                                          <span>Basic</span>
                                      </a>
                                      <a class="dropdown-item ps-3 border-radius-md" href="{% url 'page_sign_in_simple' %}">
                                          <span>Simple</span>
                                      </a>
                                  </div>
                              </li>
                              <li class="nav-item dropdown dropdown-hover dropdown-subitem list-group-item border-0 p-0">
                                  <a class="dropdown-item border-radius-md text-dark ps-3 d-flex align-items-center mb-1" id="dropdownSignUp">
                                      <span>Sign Up</span>
                                      <img src="{% static 'img/down-arrow.svg' %}" alt="down-arrow" class="arrow ms-auto">
                                  </a>
                                  <div class="dropdown-menu mt-0 py-3 px-2" aria-labelledby="dropdownSignUp">
                                      <a class="dropdown-item ps-3 border-radius-md mb-1" href="{% url 'page_sign_up_cover' %}">
                                          <span>Cover</span>
                                      </a>
                                      <a class="dropdown-item ps-3 border-radius-md mb-1" href="{% url 'page_sign_up_illustration' %}">
                                          <span>Illustration</span>
                                      </a>
                                      <a class="dropdown-item ps-3 border-radius-md mb-1" href="{% url 'page_sign_up_basic' %}">
                                          <span>Basic</span>
                                      </a>
                                      <a class="dropdown-item ps-3 border-radius-md mb-1" href="{% url 'page_sign_up_simple' %}">
                                          <span>Simple</span>
                                      </a>
                                  </div>
                              </li>
                              <li class="nav-item dropdown dropdown-hover dropdown-subitem list-group-item border-0 p-0">
                                  <a class="dropdown-item border-radius-md text-dark ps-3 d-flex align-items-center mb-1" id="dropdownPasswordReset">
                                      <span>Password Reset</span>
                                      <img src="{% static 'img/down-arrow.svg' %}" alt="down-arrow" class="arrow ms-auto">
                                  </a>
                                  <div class="dropdown-menu mt-0 py-3 px-2" aria-labelledby="dropdownPasswordReset">
                                      <a class="dropdown-item ps-3 border-radius-md mb-1" href="{% url 'page_reset_cover' %}">
                                          <span>Cover</span>
                                      </a>
                                      <a class="dropdown-item ps-3 border-radius-md mb-1" href="{% url 'page_reset_illustration' %}">
                                          <span>Illustration</span>
                                      </a>
                                      <a class="dropdown-item ps-3 border-radius-md mb-1" href="{% url 'page_reset_basic' %}">
                                          <span>Basic</span>
                                      </a>
                                  </div>
                              </li>
                              <li class="nav-item dropdown dropdown-hover dropdown-subitem list-group-item border-0 p-0">
                                  <a class="dropdown-item border-radius-md text-dark ps-3 d-flex align-items-center mb-1" id="dropdownError">
                                      <span>Error Pages</span>
                                      <img src="{% static 'img/down-arrow.svg' %}" alt="down-arrow" class="arrow ms-auto">
                                  </a>
                                  <div class="dropdown-menu mt-0 py-3 px-2" aria-labelledby="dropdownError">
                                      <a class="dropdown-item ps-3 border-radius-md mb-1" href="{% url 'page_404' %}">
                                          <span>404</span>
                                      </a>
                                      <a class="dropdown-item ps-3 border-radius-md mb-1" href="{% url 'page_500' %}">
                                          <span>500</span>
                                      </a>
                                  </div>
                              </li>
                              <li class="nav-item list-group-item border-0 p-0">
                                  <a href="{% url 'coming_soon' %}" class="dropdown-item border-radius-md text-dark ps-3 d-flex align-items-center mb-1">
                                      <span>Coming Soon</span>
                                  </a>
                              </li>
                              <li class="nav-item list-group-item border-0 p-0">
                                  <a href="{% url 'two_fa_security' %}" class="dropdown-item border-radius-md text-dark ps-3 d-flex align-items-center mb-1">
                                      <span>2FA Security</span>
                                  </a>
                              </li>
                          </ul>
                      </div>
                  </div>
              </li>
          </ul>
          <ul class="navbar-nav d-lg-block d-none">
              <li class="nav-item">
                  {% if user.is_authenticated %}
                      <a href="{% url 'profile' %}" class="btn btn-sm bg-gradient-primary mb-0">My Profile</a>
                  {% else %}
                      <a target="_blank" href="https://docs.appseed.us/products/django-apps/material-kit2-pro" class="btn btn-sm bg-gradient-primary mb-0">DOCS</a>
                  {% endif %}
              </li>
          </ul>
      </div>
  </div>
</nav>