<nav class="navbar navbar-expand-lg position-absolute top-0 z-index-3 w-100 shadow-none my-3 navbar-transparent">
  <div class="container">
      <a class="navbar-brand text-dark" href="/" rel="tooltip" title="Designed and Coded by Creative Tim" data-placement="bottom">
          Material Kit 2 PRO
      </a>
      <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon mt-2">
              <span class="navbar-toggler-bar bar1 bg-dark"></span>
              <span class="navbar-toggler-bar bar2 bg-dark"></span>
              <span class="navbar-toggler-bar bar3 bg-dark"></span>
          </span>
      </button>
      <div class="collapse navbar-collapse w-100 pt-3 pb-2 py-lg-0" id="navigation">
          <ul class="navbar-nav navbar-nav-hover ms-auto">
              <li class="nav-item dropdown dropdown-hover mx-2">
                  <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center text-dark" id="dropdownMenuPages9" data-bs-toggle="dropdown" aria-expanded="false" role="button">
                      <i class="material-icons text-dark opacity-6 me-2 text-md">dashboard</i>
                      Pages
                      <img src="{% static 'img/down-arrow-dark.svg' %}" alt="down-arrow" class="arrow ms-1">
                  </a>
                  <div class="dropdown-menu dropdown-menu-animation dropdown-xl p-3 border-radius-xl mt-0 mt-lg-3" aria-labelledby="dropdownMenuPages9">
                      <div class="row d-none d-lg-block">
                          <div class="col-12 px-4 py-2">
                              <div class="row">
                                  <div class="col-4 position-relative">
                                      <div class="dropdown-header text-dark font-weight-bolder d-flex justify-content-center align-items-center px-1">
                                          Landing Pages
                                      </div>
                                      <a href="{% url 'coworking' %}" class="dropdown-item border-radius-md">
                                          <span>Coworking</span>
                                      </a>
                                      <a href="{% url 'rental' %}" class="dropdown-item border-radius-md">
                                          <span>Rental</span>
                                      </a>
                                      <a href="{% url 'case_study' %}" class="dropdown-item border-radius-md">
                                          <span>Case Study</span>
                                      </a>
                                      <div class="dropdown-header text-dark font-weight-bolder d-flex align-items-center px-0 mt-3">
                                          Company
                                      </div>
                                      <a href="{% url 'about_us' %}" class="dropdown-item border-radius-md">
                                          <span>About Us</span>
                                      </a>
                                      <a href="{% url 'pricing' %}" class="dropdown-item border-radius-md">
                                          <span>Pricing</span>
                                      </a>
                                      <a href="{% url 'career' %}" class="dropdown-item border-radius-md">
                                          <span>Career</span>
                                      </a>
                                      <!-- More menu items -->
                                  </div>
                                  <!-- More columns -->
                              </div>
                          </div>
                      </div>
                      <!-- For mobile view -->
                      <div class="d-lg-none">
                          <div class="dropdown-header text-dark font-weight-bolder d-flex justify-content-center align-items-center px-0">
                              Landing Pages
                          </div>
                          <a href="{% url 'coworking' %}" class="dropdown-item border-radius-md">
                              Coworking
                          </a>
                          <a href="{% url 'rental' %}" class="dropdown-item border-radius-md">
                              Rental
                          </a>
                          <a href="{% url 'case_study' %}" class="dropdown-item border-radius-md">
                              Case Study
                          </a>
                          <div class="dropdown-header text-dark font-weight-bolder d-flex justify-content-center align-items-center px-0 mt-3">
                              Company
                          </div>
                          <a href="{% url 'about_us' %}" class="dropdown-item border-radius-md">
                              About Us
                          </a>
                          <a href="{% url 'pricing' %}" class="dropdown-item border-radius-md">
                              Pricing
                          </a>
                          <a href="{% url 'career' %}" class="dropdown-item border-radius-md">
                              Career
                          </a>
                          <!-- More menu items -->
                      </div>
                  </div>
              </li>

              <li class="nav-item dropdown dropdown-hover mx-2">
                  <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center text-dark" id="dropdownMenuAccount" data-bs-toggle="dropdown" aria-expanded="false" role="button">
                      <i class="material-icons text-dark opacity-6 me-2 text-md">login</i>
                      Account
                      <img src="{% static 'img/down-arrow-dark.svg' %}" alt="down-arrow" class="arrow ms-1">
                  </a>
                  <div class="dropdown-menu dropdown-menu-animation dropdown-md border-radius-xl p-3 mt-0 mt-lg-3" aria-labelledby="dropdownMenuAccount">
                      <div class="d-none d-lg-flex">
                          <ul class="list-group w-100">
                              <li class="nav-item dropdown dropdown-hover dropdown-subitem list-group-item border-0 p-0">
                                  <a class="dropdown-item border-radius-md text-dark ps-3 d-flex align-items-center mb-1" id="dropdownSignIn">
                                      <span>Sign In</span>
                                      <img src="{% static 'img/down-arrow.svg' %}" alt="down-arrow" class="arrow ms-auto">
                                  </a>
                                  <div class="dropdown-menu mt-0 py-3 px-2" aria-labelledby="dropdownSignIn">
                                      <a class="dropdown-item ps-3 border-radius-md mb-1" href="{% url 'login_cover' %}">
                                          <span>Cover</span>
                                      </a>
                                      <a class="dropdown-item ps-3 border-radius-md mb-1" href="{% url 'login_illustration' %}">
                                          <span>Illustration</span>
                                      </a>
                                      <a class="dropdown-item ps-3 border-radius-md mb-1" href="{% url 'login_basic' %}">
                                          <span>Basic</span>
                                      </a>
                                      <a class="dropdown-item ps-3 border-radius-md" href="{% url 'login_simple' %}">
                                          <span>Simple</span>
                                      </a>
                                  </div>
                              </li>

                              <li class="nav-item dropdown dropdown-hover dropdown-subitem list-group-item border-0 p-0">
                                  <a class="dropdown-item border-radius-md text-dark ps-3 d-flex align-items-center mb-1" id="dropdownSignUp">
                                      <span>Sign Up</span>
                                      <img src="{% static 'img/down-arrow.svg' %}" alt="down-arrow" class="arrow ms-auto">
                                  </a>
                                  <div class="dropdown-menu mt-0 py-3 px-2" aria-labelledby="dropdownSignUp">
                                      <a class="dropdown-item ps-3 border-radius-md mb-1" href="{% url 'signup_cover' %}">
                                          <span>Cover</span>
                                      </a>
                                      <a class="dropdown-item ps-3 border-radius-md mb-1" href="{% url 'signup_illustration' %}">
                                          <span>Illustration</span>
                                      </a>
                                      <a class="dropdown-item ps-3 border-radius-md mb-1" href="{% url 'signup_basic' %}">
                                          <span>Basic</span>
                                      </a>
                                      <a class="dropdown-item ps-3 border-radius-md mb-1" href="{% url 'signup_simple' %}">
                                          <span>Simple</span>
                                      </a>
                                  </div>
                              </li>
                              <!-- More dropdown items -->
                          </ul>
                      </div>
                      <div class="row d-lg-none">
                          <div class="col-12 d-flex justify-content-center flex-column">
                              <h6 class="dropdown-header text-dark font-weight-bolder d-flex justify-content-center align-items-center px-0">
                                  Sign In
                              </h6>
                              <a href="{% url 'login_cover' %}" class="dropdown-item border-radius-md">
                                  Cover
                              </a>
                              <a href="{% url 'login_illustration' %}" class="dropdown-item border-radius-md">
                                  Illustration
                              </a>
                              <a href="{% url 'login_basic' %}" class="dropdown-item border-radius-md">
                                  Basic
                              </a>
                              <a href="{% url 'login_simple' %}" class="dropdown-item border-radius-md">
                                  Simple
                              </a>
                              <h6 class="dropdown-header text-dark font-weight-bolder d-flex justify-content-center align-items-center mt-3 px-0">
                                  Sign Up
                              </h6>
                              <a href="{% url 'signup_cover' %}" class="dropdown-item border-radius-md">
                                  Cover
                              </a>
                              <a href="{% url 'signup_illustration' %}" class="dropdown-item border-radius-md">
                                  Illustration
                              </a>
                              <a href="{% url 'signup_basic' %}" class="dropdown-item border-radius-md">
                                  Basic
                              </a>
                              <a href="{% url 'signup_simple' %}" class="dropdown-item border-radius-md">
                                  Simple
                              </a>
                          </div>
                      </div>
                  </div>
              </li>

              <li class="nav-item dropdown dropdown-hover mx-2">
                  <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center text-dark" id="dropdownMenuDocs" data-bs-toggle="dropdown" aria-expanded="false" role="button">
                      <i class="material-icons text-dark opacity-6 me-2 text-md">article</i>
                      Docs
                      <img src="{% static 'img/down-arrow-dark.svg' %}" alt="down-arrow" class="arrow ms-1">
                  </a>
                  <div class="dropdown-menu dropdown-menu-animation dropdown-md mt-0 mt-lg-3 p-3 border-radius-lg" aria-labelledby="dropdownMenuDocs">
                      <div class="d-none d-lg-block">
                          <ul class="list-group">
                              <li class="nav-item list-group-item border-0 p-0">
                                  <a class="dropdown-item py-2 ps-3 border-radius-md" href="https://www.creative-tim.com/learning-lab/bootstrap/overview/material-kit">
                                      <h6 class="dropdown-header text-dark font-weight-bolder d-flex justify-content-center align-items-center p-0">Getting Started</h6>
                                      <span class="text-sm">All about overview, quick start, license and contents</span>
                                  </a>
                              </li>
                              <li class="nav-item list-group-item border-0 p-0">
                                  <a class="dropdown-item py-2 ps-3 border-radius-md" href="https://www.creative-tim.com/learning-lab/bootstrap/colors/material-kit">
                                      <h6 class="dropdown-header text-dark font-weight-bolder d-flex justify-content-center align-items-center p-0">Foundation</h6>
                                      <span class="text-sm">See our colors, icons, and typography</span>
                                  </a>
                              </li>
                              <li class="nav-item list-group-item border-0 p-0">
                                  <a class="dropdown-item py-2 ps-3 border-radius-md" href="https://www.creative-tim.com/learning-lab/bootstrap/alerts/material-kit">
                                      <h6 class="dropdown-header text-dark font-weight-bolder d-flex justify-content-center align-items-center p-0">Components</h6>
                                      <span class="text-sm">Explore our collection of fully designed components</span>
                                  </a>
                              </li>
                              <li class="nav-item list-group-item border-0 p-0">
                                  <a class="dropdown-item py-2 ps-3 border-radius-md" href="https://www.creative-tim.com/learning-lab/bootstrap/datepicker/material-kit">
                                      <h6 class="dropdown-header text-dark font-weight-bolder d-flex justify-content-center align-items-center p-0">Plugins</h6>
                                      <span class="text-sm">Check how you can integrate our plugins</span>
                                  </a>
                              </li>
                              <li class="nav-item list-group-item border-0 p-0">
                                  <a class="dropdown-item py-2 ps-3 border-radius-md" href="https://www.creative-tim.com/learning-lab/bootstrap/utilities/material-kit">
                                      <h6 class="dropdown-header text-dark font-weight-bolder d-flex justify-content-center align-items-center p-0">Utility Classes</h6>
                                      <span class="text-sm">For those who want flexibility, use our utility classes</span>
                                  </a>
                              </li>
                          </ul>
                      </div>
                  </div>
              </li>
          </ul>

          <ul class="navbar-nav d-lg-block d-none">
              <li class="nav-item">
                  {% if user.is_authenticated %}
                      <a href="{% url 'profile' %}" class="btn btn-sm bg-gradient-primary mb-0">My Profile</a>
                  {% else %}
                      <a target="_blank" href="https://docs.appseed.us/products/django-apps/material-kit2-pro" class="btn btn-sm bg-gradient-primary mb-0">DOCS</a>
                  {% endif %}
              </li>
          </ul>
      </div>
  </div>
</nav>