{% extends "layouts/base.html" %}

{% block title %} Candidate Sign Up {% endblock %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-5 col-md-7 mx-auto">
                <div class="card z-index-0 mt-sm-8 mt-7 mb-3">
                    <div class="card-header text-center pt-4 pb-1">
                        <h4 class="font-weight-bolder mb-1">Sign Up</h4>
                        <p class="mb-0">Join our network of professionals</p>
                    </div>

                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            {% if form.errors %}
                                <div class="alert alert-danger" role="alert">
                                    <ul>
                                        {% for field in form %}
                                            {% for error in field.errors %}
                                                <li>{{ error }}</li>
                                            {% endfor %}
                                        {% endfor %}
                                        {% for error in form.non_field_errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                            {{ form.as_p }}
                            <div class="form-check form-check-info text-left">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" required>
                                <label class="form-check-label" for="flexCheckDefault">
                                    I agree to the <a href="/privacy.html" class="text-dark font-weight-bolder">Terms and Conditions</a>
                                </label>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">Sign Up</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        document.querySelector("form input[type='text']").focus();
    });
</script>
{% endblock %}